<div data-ng-controller='completeController' class='row main'>
  <div class='overlay invisible' hide></div>
  <div data-ng-include src="'templates/options.html'"></div>

  <div class='mainView col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div data-ng-include src="'templates/header.html'"></div>
    <div class='listView'  data-ng-include src="'templates/list_view.html'"></div>
  </div> <!-- end mainView -->

  <div class='detailsView' data-ng-include src="'templates/item_details.html'"></div>
</div> <!-- end main -->