<p class='closeDetails row' back>Back To List</p>

<form class='itemDetails row'>
  <ul class='itemFields'>
    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <h1 class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>{{ item.title }}</h1>
      <i class="fa fa-pencil-square-o editTitle col-lg-2 col-md-2 col-sm-2 col-xs-2" edit-title></i>
      <div class='changeTitle col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <input type='text' placeholder='{{ item.title }}' data-ng-model='item.title' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' title/>
        <button done-title='editTitle()'>Update Title</button>
      </div>
    </li>

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12' >
      <label class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>Item Keywords (optional)</label>
      <ul data-ng-show='item.keywords' class='keywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <li data-ng-repeat='keyword in item.keywords'><button>{{ keyword }}<span data-ng-click='deleteKeyword($index)'>x</span></button></li>
      </ul>
      <div class='changeKeywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <input type='text' placeholder='Enter keywords, separated by commas' data-ng-model='newKeywords' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        <button add-keywords='addKeywords()'>Add Keywords</button>
      </div>
     <!--  <ul class='itemKeywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <li data-ng-repeat='keyword in keywords'>{{ keyword }}<span>x</span></li>
      </ul> -->
    </li>

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>Notes (optional)</label>
      <i class="fa fa-pencil-square-o col-lg-2 col-md-2 col-sm-2 col-xs-2" data-ng-show='item.notes'></i>
      <p data-ng-show='item.notes'></p>
      <textarea placeholder='Write some notes (optional)' data-ng-model='item.notes' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='!item.notes'></textarea>
    </li>

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>Due Date (optional)</label>
      <i class="fa fa-pencil-square-o col-lg-2 col-md-2 col-sm-2 col-xs-2" data-ng-show='item.date'></i>
      <div class='datetime col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='!item.date'>
        <div class='time col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <input type='time' data-ng-model='item.time' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        </div>
        <div class='date col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <input type='date' data-ng-model='edit.date' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        </div>
      </div>
    </li>
  </ul>
</form>