<p class='closeDetails row' hide='clearScope()'>Back To List</p>

<form class='itemDetails row'>
  <ul class='itemFields'>
    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <h1 class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>{{ item.title }}</h1>
      <i class="fa fa-pencil-square-o editTitle col-lg-2 col-md-2 col-sm-2 col-xs-2" edit-title></i>

      <div class='changeTitle col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <input type='text' placeholder='{{ item.title }}' data-ng-model='item.title' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        <button done-title='editTitle()'>Save Title</button>
      </div> <!-- end changeTitle -->
    </li> <!-- end listItem -->

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12' >
      <label class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>Item Keywords</label>

      <ul data-ng-show='item.keywords' class='keywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <li data-ng-repeat='keyword in item.keywords'><button>{{ keyword }}<span hide-keyword='deleteKeyword($index)'>x</span></button></li>
      </ul> <!-- end keywords -->

      <div class='changeKeywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <input type='text' placeholder='Enter keywords, separated by commas' data-ng-model='newKeywords' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        <!-- <ul class='suggestedKeywords col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          <li data-ng-repeat='keyword in item.keywords'>{{ keyword }}<span>x</span></li>
        </ul> -->
        <button add-keywords='addKeywords()'>Save Keywords</button>
      </div> <!-- end changeKeywords -->
    </li> <!-- end listItem -->

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>Notes</label>
      <textarea placeholder='Write some notes' data-ng-model='item.notes' class='notes col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-if='!notes' edit-notes></textarea>
      <textarea placeholder='{{ item.notes }}' data-ng-model='item.notes' class='notes col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='notes' edit-notes></textarea>

      <div class='changeNotes col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <button data-ng-click='addNotes()'>Save Notes</button>
      </div> <!-- end changeNotes -->
    </li> <!-- end listItem -->

    <li class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>Due Date</label>
      <div class='datetime col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='!due_date'>
        <div class='time col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <input type='time' data-ng-model='item.time' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        </div> <!-- end time -->
        <div class='date col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <input type='date' data-ng-model='item.date' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
        </div> <!-- end date -->
      </div> <!-- end datetime -->

      <div class='currentDueDate col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='due_date'>
        <p class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>{{ item.due_date }}</p>
        <i class="fa fa-pencil-square-o editDueDate col-lg-2 col-md-2 col-sm-2 col-xs-2" edit-duedate></i>
      </div> <!-- end currentDueDate -->

      <div class='changeDueDate datetime col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class='datetime col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          <div class='time col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <input type='time' data-ng-model='item.time' class='col-lg-12 col-md-12 col-sm-12 col-xs-12'/>
          </div> <!-- end time -->
          <div class='date col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <input type='date' data-ng-model='item.date' class='col-lg-12 col-md-12 col-sm-12 col-xs-12'/>
          </div> <!-- end date -->
        </div> <!-- end datetime -->

        <div class='dueDateButton col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          <button done-duedate='addDatetime()'>Save Due Date</button>
        </div> <!-- end dueDateButton -->
      </div> <!-- end changeDueDate -->

      <div class='dueDateButton col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-show='!due_date'>
        <button done-duedate='addDatetime()'>Save Due Date</button>
      </div> <!-- end dueDateButton -->

      <div class='deleteButton col-lg-12 col-md-12 col-sm-12 col-xs-12' >
        <p hide='deleteItem()'>Delete Item <i class="fa fa-trash-o"></i></p>
      </div> <!-- end deleteButton -->
    </li> <!-- end listItem -->
  </ul> <!-- end itemFields -->
</form> <!-- end itemDetails -->