<ul class='itemsList col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
  <li class='addItem col-lg-12 col-md-12 col-sm-12 col-xs-12' data-ng-if='complete === false'>
    <input type='text' data-ng-model='newItem' class='col-lg-11 col-md-11 col-sm-11 col-xs-10' placeholder='Add an item' />
    <div class='newItemButton col-lg-1 col-md-1 col-sm-1 col-xs-2'>
      <button data-ng-click="addItem()"><i class="fa fa-plus"></i></button>
    </div> <!-- end newItemButton -->
  </li> <!-- end addItem -->

  <li data-ng-repeat='item in items' class='listItem col-lg-12 col-md-12 col-sm-12 col-xs-12' >
    <div class='incompleteListDetails col-lg-12 col-md-12 col-sm-12 col-xs-12' data-id='{{ item.id }}' show-details='getItem($index)'data-ng-show='complete === false'>
      <input type='checkbox' class='changeStatus complete col-lg-1 col-md-1 col-sm-1 col-xs-1' remove-item='removeItem($index)' />
      <p class='col-lg-11 col-md-11 col-sm-11 col-xs-11'>{{ item.title }}</p>
    </div> <!-- end listDetails -->
    <div class='completeListDetails col-lg-12 col-md-12 col-sm-12 col-xs-12' data-id='{{ item.id }}' data-ng-show='complete'>
      <input type='checkbox' class='changeStatus complete col-lg-1 col-md-1 col-sm-1 col-xs-1' remove-item='removeItem($index)' checked />
      <p class='crossedOut col-lg-11 col-md-11 col-sm-11 col-xs-11'>{{ item.title }}</p>
    </div> <!-- end listDetails -->
  </li> <!-- end listItem -->
</ul> <!-- end itemsList -->