<div class='optionsView'>
  <header class='optionsTitle col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <h1>OneList</h1>
    <h4>{{ message }}</h4>
  </header> <!-- end optionsTitle -->

  <ul class='optionsList col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <li><p change-page='changePage()'>{{ nextPageTitle }}</p></li>
    <li><a href='#/complete'><p>Manage Labels</p></a></li>
    <li><a href='#/complete'><p>Edit Account</p></a></li>
    <li><a href='/sessions/id' data-method='delete'><p>Log Out</p></a></li>
  </ul> <!-- end optionsList -->
</div> <!-- end optionsView -->