<div data-ng-controller='loginController'>
  <header class='signupHeader col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1'>
    <h1>OneList</h1>
    <h4>Ever...</h4>
  </header> <!-- end signupHeader -->

  <form class='signupForm col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
    <ul class='signupFormFields col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <li class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        <input type='text' data-ng-model='user.username' placeHolder='Enter a username' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' autofocus />
      </li>
      <li class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        <input type='text' data-ng-model='user.email' placeHolder='Enter your email address' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
      </li>
      <li class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        <input type='password' data-ng-model='user.password' placeHolder='Enter a password' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
      </li>
      <li class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        <input type='password' data-ng-model='user.password_confirmation' placeHolder='Confirm password' class='col-lg-12 col-md-12 col-sm-12 col-xs-12' />
      </li>
    </ul> <!-- end signupFormFields -->

    <div id='signupErrors' class='col-lg-12 col-md-12 col-sm-12 col-xs-12'></div>

    <ul class='signupButtons col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <li class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
        <p data-ng-click='signUp()'>Sign Up</p>
      </li>
      <li class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
        <a href='#/login'>Cancel</a>
      </li>
    </ul> <!-- end signupButtons -->
  </form> <!-- end signupForm -->
</div> <!-- end loginController -->