@font-face {
    font-family: 'scratchregular';
    src: url('/fonts/Scratch_-webfont.eot');
    src: url('/fonts/Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Scratch_-webfont.woff') format('woff'),
         url('/fonts/Scratch_-webfont.ttf') format('truetype'),
         url('/fonts/Scratch_-webfont.svg#scratchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arsenalregular';
    src: url('/fonts/arsenal-regular-webfont.eot');
    src: url('/fonts/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arsenal-regular-webfont.woff') format('woff'),
         url('/fonts/arsenal-regular-webfont.ttf') format('truetype'),
         url('/fonts/arsenal-regular-webfont.svg#arsenalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$radialBG: -webkit-radial-gradient(center, ellipse cover, #8952c1 0%, #5f2f90 100%);
$pattern: url('/images/noisy_net.jpg') repeat;
$buttonBG: -webkit-linear-gradient(top, #c7d8fb 0%, #93b2f1 100%);
$listBG: -webkit-linear-gradient(top, white 0%, #ececec 100%);
$hoverBG: -webkit-linear-gradient(top, #dfc0ff 0%, #8952c1 100%);
$textColor: #878787;

.invisible {
  visibility: none;
}

body {
  background: $pattern;
}

.container {
  background: $pattern;
  font: normal 14px/14px 'arsenalregular', Helvetica, sans-serif;
  color: $textColor;
  letter-spacing: 2px;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
}

/******************/
/*** Login Page ***/
/******************/

.loginHeader {
  font-family: 'scratchregular';
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;

  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
  }

  h4 {
    font-size: 30px;
    color: white;
  }
}

.loginForm {
  padding: 30px 0 20px 0;
  background: $radialBG;
  margin-bottom: 30px;
  border-radius: 10px;
}

.loginFormFields {
  li {
    list-style: none;
    padding: 5px;
    margin-top: 20px;

    label {
      margin-left: 3px;
    }
  }

  li:first-child {
    margin-top: 10px;
  }

  li:last-child {
    margin-top: 2px;
    color: white;
  }

  input {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.loginButtons {
  text-align: center;
  margin-top: 5px;
  color: white;

  li {
    list-style: none;
  }

  li:first-child {
    margin-bottom: 10px;
  }

  button {
    border-radius: 8px;
    border: 0;
    padding: 10px 30px;
    cursor: pointer;
    background: $buttonBG;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
  }

  a {
    color: #4f89ff;
    margin-left: 3px;
  }
}

#loginErrors {
  color: red;
  min-height: 0px;
  margin-top: 10px;

  li {
    list-style: none;
    padding: 5px;
  }

  li:last-child {
    margin-bottom: 5px;
  }
}

/*******************/
/*** Signup Page ***/
/*******************/

.signupHeader {
  @extend .loginHeader;
}

.signupForm {
  @extend .loginForm;
}

.signupFormFields {
  @extend .loginFormFields;

  li:last-child {
    margin-top: 20px;
    color: #878787;
  }
}

.signupButtons {
  @extend .loginButtons;
}

#signupErrors {
  @extend #loginErrors;
  margin-bottom: 10px;
}

/*****************/
/*** Main Page ***/
/*****************/

.mainTitle {
  padding: 20px 10px;

  h1 {
    font-family: 'scratchregular';
    margin: 0px;
  }
}

.options {
  font-size: 36px;
  padding: 20px 10px;
  display: none;
  margin-left: 20px;

  .fa-bars {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .fa-bars:hover {
    color: #c289fc;
  }
}

#loginDisplay {
  text-align: right;
  padding: 20px 10px;

  li {
    list-style: none;

    p {
      margin-bottom: 3px;
    }
  }
}

.main {
  position: relative;

  .mainView {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    overflow: hidden;

    .mainHeader {
      margin: 0px;
      color: white;
    }

    .searchFilters {
      padding: 0px;
      text-align: center;

      .searchLabels, .searchItems {
        padding: 20px;
        background: $radialBG;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        p {
          margin: 0px;
          font-size: 16px;
          line-height: 16px;
        }
      }

      .searchLabels {
        border-right: 1px solid black;
      }
    }

    .itemsList {
      padding: 0px;
      position: relative;
      overflow: hidden;

      li {
        list-style: none;
        border-bottom: 1px solid black;
        -webkit-box-shadow: 0px 2px 2px -3px white;
        cursor: pointer;
      }

      .addItem {
        padding: 20px;

        input {
          padding: 5px 10px;
          font-size: 18px;
          line-height: 23px;
          border-radius: 8px;
        }
      }

      .incompleteListDetails {
        padding: 20px;
        background: $listBG;
        -webkit-transition: all 0.3s ease-in;

        p {
          margin: 0px;
          font-size: 16px;
          line-height: 21px;
        }

        input {
          cursor: pointer;
        }
      }

      .completeListDetails {
        @extend .incompleteListDetails;
        cursor: default;

        .crossedOut {
          text-decoration: line-through;
        }
      }

      .incompleteListDetails:hover {
        background: $hoverBG;
        color: white;
      }

      .listItem {
        padding: 0px;
      }
    }

    .newItemButton {
      button {
        padding: 8px 10px;
        border-radius: 8px;
        font-size: 21px;
        background: -webkit-linear-gradient(top, white 0%, #878787 100%);
        border: 0px;
      }
    }
  }
}

.detailsView {
  position: absolute;
  width: 0px;
  right: 0px;
  top: 0px;
  background: #5f2f90;
  box-shadow: 1px 0 3px black;
  z-index: 15;
  color: white;

  .closeDetails {
    margin: 20px;
    cursor: pointer;
  }

  .itemDetails {
    margin: 20px;

    .itemFields {
      padding: 0px;
      margin: 0px;

      li {
        list-style: none;
        margin-bottom: 30px;

        h1 {
          margin: 0px;
          padding: 0px;
          font-size: 45px;
          line-height: 50px;
        }

        p {
          margin: 0;
        }

        .fa-pencil-square-o {
          text-align: right;
          color: #5DD2EA;
          padding: 0px;
          font-size: 40px;
          line-height: 50px;
          cursor: pointer;
        }

        input {
          padding: 5px 10px;
          font-size: 18px;
          line-height: 23px;
          border-radius: 8px;
          color: $textColor;
          background: -webkit-radial-gradient(center, cover ellipse, #ffffff 0%, #ffffff 60%, #dedede 100%);
        }

        .keywords {
          padding: 0px;

          button {
            border-radius: 8px;
            border: 0;
            padding: 5px 10px;
            background: #DEDEDF;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            color: #878787;
            cursor: default;

            span {
              cursor: pointer;
              padding-left: 10px;
            }
          }

          li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            -webkit-transition: all 0.4s ease-in-out;
          }
        }

        .changeKeywords {
          padding: 0;
          text-align: right;
          @extend .keywords;

          button {
            margin-top: 10px;
            background: $buttonBG;
            color: white;
            cursor: pointer;
          }
        }

        .changeTitle {
          @extend .changeKeywords;
          overflow: hidden;
          height: 0;
          min-height: 0;
          -webkit-transition: all 0.3s ease-in;
          margin-top: 10px;
        }

        textarea {
          @extend input;
          resize: none;
        }

        .datetime {
          padding: 0px;

          .time {
            padding-left: 0px;
          }

          .date {
            padding-right: 0px;
          }
        }

        label {
          padding: 0px;
        }
      }

      .itemSubmitButton {
        @extend .loginButtons;
        text-align: right;
      }
    }
  }
}

.optionsView {
  position: absolute;
  top: 0px;
  left: -400px;
  background: white;
  display: none;
  border-right: 1px solid black;
  z-index: 15;

  .optionsTitle {
    margin: 0px;
    padding: 0px;

    h1 {
      font-family: 'scratchregular';
      padding: 10px 20px;
      margin: 0px;
      background: $radialBG;
      color: white;
    }

    h4 {
      font-size: 14px;
      padding: 10px 20px;
      margin: 0px;
    }
  }

  .optionsList {
    padding: 0px;

    li {
      border-bottom: 1px solid #878787;
      background: $listBG;
      list-style: none;
      padding: 30px 0px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in;

      a {
        color: inherit;
        text-decoration: none;
      }

      p {
        padding: 0 20px;
        font-size: 22px;
        line-height: 22px;
        margin: 0px;


      }
    }

    li:hover {
      background: $hoverBG;
      color: white;
    }

    li:first-child {
      border-top: 1px solid #878787;
    }
  }
}



/*********************/
/*** Media Queries ***/
/*********************/

@media screen and (max-width: 768px) {
  // .container {
  //   background: white;
  // }

  .mainTitle h1 {
    text-align: center;
  }

  .options, .optionsView {
    display: block;
  }

  #loginDisplay {
    display: none;
  }
}