@font-face {
  font-family: 'scratchregular';
  src: url('/fonts/Scratch_-webfont.eot');
  src: url('/fonts/Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Scratch_-webfont.woff') format('woff'),
       url('/fonts/Scratch_-webfont.ttf') format('truetype'),
       url('/fonts/Scratch_-webfont.svg#scratchregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arsenalregular';
  src: url('/fonts/arsenal-regular-webfont.eot');
  src: url('/fonts/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arsenal-regular-webfont.woff') format('woff'),
       url('/fonts/arsenal-regular-webfont.ttf') format('truetype'),
       url('/fonts/arsenal-regular-webfont.svg#arsenalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RaphaelIcons';
  src: url('/fonts/raphaelicons-webfont.eot');
  src: local('☺'), url('/fonts/raphaelicons-webfont.woff') format('woff'),
       url('/fonts/raphaelicons-webfont.ttf') format('truetype'),
       url('/fonts/raphaelicons-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'modern_pictogramsnormal';
  src: url('/fonts/modernpics-webfont.eot');
  src: url('/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/modernpics-webfont.woff') format('woff'),
       url('/fonts/modernpics-webfont.ttf') format('truetype'),
       url('/fonts/modernpics-webfont.svg#modern_pictogramsnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none;
}

$radialBG: -webkit-radial-gradient(center, ellipse cover, #8952c1 0%, #5f2f90 100%);
$pattern: url('/images/noisy_net.jpg') repeat;
$buttonBG: -webkit-linear-gradient(top, #c7d8fb 0%, #93b2f1 100%);
$listBG: -webkit-linear-gradient(top, white 0%, #ececec 100%);
$hoverBG: -webkit-linear-gradient(top, #dfc0ff 0%, #8952c1 100%);
$textColor: #878787;

.invisible {
  visibility: none;
}

body {
  background: $pattern;
}

.container {
  background: $pattern;
  font: normal 14px/14px 'arsenalregular', Helvetica, sans-serif;
  color: $textColor;
  letter-spacing: 2px;
  // overflow: hidden;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
}

/******************/
/*** Login Page ***/
/******************/

.loginHeader {
  font-family: 'scratchregular';
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;

  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
  }

  h4 {
    font-size: 30px;
    color: white;
  }
}

.loginForm {
  padding: 30px 0 20px 0;
  background: $radialBG;
  margin-bottom: 30px;
  border-radius: 10px;
}

.loginFormFields {
  li {
    list-style: none;
    padding: 5px;
    margin-bottom: 20px;

    label {
      margin-left: 3px;
    }
  }

  li:last-child {
    margin-top: -15px;
    margin-bottom: 0px;
    color: white;
  }

  .confirmPW {
    margin-bottom: 0px;
  }

  input {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 23px;
    border-radius: 8px;
    color: $textColor;
    background: -webkit-radial-gradient(center, cover ellipse, #ffffff 0%, #ffffff 60%, #dedede 100%);
  }
}

.loginButtons {
  text-align: center;
  margin-top: 5px;
  color: white;

  li {
    list-style: none;
  }

  li:first-child {
    margin-bottom: 10px;
  }

  button {
    border-radius: 8px;
    border: 0;
    padding: 10px 30px;
    cursor: pointer;
    background: $buttonBG;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px
  }

  .logButton {
    margin-left: 5px;
    color: #4f89ff;
    cursor: pointer;
  }
}

#loginErrors {
  color: red;
  min-height: 0px;
  // margin-top: 10px;

  li {
    list-style: none;
    padding: 5px;
  }

  li:last-child {
    margin-bottom: 5px;
  }
}

/*****************/
/*** Main Page ***/
/*****************/

.mainTitle {
  padding: 20px 10px;

  h1 {
    font-family: 'scratchregular';
    margin: 0px;
  }
}

.options {
  font-size: 36px;
  padding: 20px 10px;
  display: none;
  margin-left: 20px;

  .fa-bars {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .fa-bars:hover {
    color: #c289fc;
  }
}

#loginDisplay {
  text-align: right;
  padding: 20px 10px;

  li {
    list-style: none;

    p {
      margin-bottom: 3px;
    }
  }
}

.main {
  position: relative;

  .mainView {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    overflow: hidden;

    .mainHeader {
      margin: 0px;
      color: white;
    }

    .searchFilters {
      padding: 0px;
      text-align: center;
      position: relative;

      .searchOverlay {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -100;
        opacity: 0;
        height: 0px;
      }

      .searchLabels, .searchItems {
        padding: 20px;
        background: $radialBG;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        cursor: pointer;

        p {
          margin: 0px;
          font-size: 16px;
          line-height: 16px;
          -webkit-transition: all 0.3s ease-in;
        }
      }

      .searchLabels {
        border-right: 1px solid black;
      }
    }

    .itemsList {
      padding: 0px;
      position: relative;
      overflow: hidden;

      li {
        list-style: none;
        border-bottom: 1px solid black;
        -webkit-box-shadow: 0px 2px 2px -3px white;
        cursor: pointer;
      }

      .addItem {
        padding: 0 20px;
        min-height: 0px;
        cursor: default;

        input {
          padding: 5px 10px;
          font-size: 18px;
          line-height: 23px;
          border-radius: 8px;
          margin: 20px 0;
        }

        .buttons {
          button {
            padding: 8px 10px;
            border-radius: 8px;
            font-size: 21px;
            background: -webkit-linear-gradient(top, white 0%, #878787 100%);
            border: 0px;
            margin: 20px 0;
            cursor: pointer;
          }
        }
      }

      .searchWindow {
        @extend .addItem;
        height: 0px;
        overflow: hidden;
        border-bottom: 0px;
        position: relative;

        input {
          padding-left: 35px;
          padding-right: 35px;
        }

        button {
          background: none;
          position: absolute;
          border: none;
          padding: 0px;
          margin: 0px;
          top: 23px;
          right: 28px;
          outline: none;

          p {
            font: normal 35px/35px 'modern_pictogramsnormal';
            // text-shadow: 0px 1px 0.5px black;
          }
        }

        .search {
          position: absolute;
          font: normal 30px/30px 'RaphaelIcons';
          top: 23px;
          left: 30px;
        }
      }

      .filterWindow {
        @extend .searchWindow;
        z-index: 5;

        input {
          padding-left: 10px;
        }

        .filterTagList {
          padding: 0px;
          box-shadow: 0.5px 1px 1px #878787;
          margin-top: -19px;
          margin-left: 7px;
          overflow: hidden;
          opacity: 0;

          li {
            background: $listBG;
            padding: 10px;
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }

      .incompleteListDetails {
        padding: 20px;
        background: $listBG;
        -webkit-transition: all 0.3s ease-in;

        p {
          margin: 0px;
          font-size: 16px;
          line-height: 21px;
        }

        input {
          cursor: pointer;
        }
      }

      .completeListDetails {
        @extend .incompleteListDetails;
        cursor: default;

        .crossedOut {
          text-decoration: line-through;
        }
      }

      .incompleteListDetails:hover {
        background: $hoverBG;
        color: white;
      }

      .listItem {
        padding: 0px;
      }
    }


  }
}

.detailsView {
  position: absolute;
  width: 0px;
  right: -1px;
  top: 0px;
  background: $pattern;
  box-shadow: 1px 0 3px black;
  z-index: 15;
  color: white;

  .closeDetails {
    margin: 20px;
    cursor: pointer;
  }

  .itemDetails {
    margin: 20px;

    .itemFields {
      padding: 0px;
      margin: 0px;

      li {
        list-style: none;
        margin-bottom: 30px;

        h1 {
          margin: 0px;
          padding: 0px;
          font-size: 45px;
          line-height: 50px;
        }

        p {
          margin: 0;
        }

        .fa-pencil-square-o {
          text-align: right;
          color: white;
          text-shadow: 1px 1px 1px #a788c4;
          padding: 0px;
          font-size: 40px;
          line-height: 50px;
          cursor: pointer;
        }

        input {
          padding: 5px 10px;
          font-size: 18px;
          line-height: 23px;
          border-radius: 8px;
          color: $textColor;
          background: -webkit-radial-gradient(center, cover ellipse, #ffffff 0%, #ffffff 60%, #dedede 100%);
        }

        .keywords {
          padding: 0px;

          button {
            border-radius: 8px;
            border: 0;
            padding: 5px 10px;
            background: #DEDEDF;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            color: #878787;
            cursor: default;

            span {
              cursor: pointer;
              padding-left: 10px;
            }
          }

          li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            -webkit-transition: all 0.4s ease-in-out;
          }
        }

        .changeKeywords {
          padding: 0;
          text-align: right;
          @extend .keywords;

          button {
            margin-top: 10px;
            background: $buttonBG;
            color: white;
            cursor: pointer;
          }
        }

        .changeTitle {
          @extend .changeKeywords;
          overflow: hidden;
          height: 0;
          min-height: 0;
          -webkit-transition: all 0.3s ease-in;
          margin-top: 10px;
        }

        .changeNotes {
          @extend .changeKeywords;
        }

        textarea {
          @extend input;
          height: 140px;
          resize: none;
        }

        .dueDateButton {
          @extend .changeKeywords;
        }

        .currentDueDate {
          @extend .changeKeywords;

          p {
            text-align: left;
            padding: 0px;
            font-size: 16px;
            margin-top: 5px;
          }

          .fa-pencil-square-o {
            font-size: 25px;
            line-height: 25px;
          }
        }

        .changeDueDate {
            overflow: hidden;
            height: 0;
            min-height: 0;
            -webkit-transition: all 0.3s ease-in;
            margin-top: 10px;
          }

        .datetime {
          padding: 0px;

          .time {
            padding-left: 0px;
          }

          .date {
            padding-right: 0px;
          }
        }

        label {
          padding: 0px;
        }
      }

      .itemSubmitButton {
        @extend .loginButtons;
        text-align: right;
      }
    }
  }
}

.optionsView {
  position: absolute;
  top: 0px;
  left: -400px;
  background: white;
  display: none;
  border-right: 1px solid black;
  z-index: 15;

  .optionsTitle {
    margin: 0px;
    padding: 0px;

    h1 {
      font-family: 'scratchregular';
      padding: 10px 20px;
      margin: 0px;
      background: $radialBG;
      color: white;
    }

    h4 {
      font-size: 14px;
      padding: 10px 20px;
      margin: 0px;
    }
  }

  .optionsList {
    padding: 0px;

    li {
      border-bottom: 1px solid #878787;
      background: $listBG;
      list-style: none;
      padding: 30px 0px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in;

      a {
        color: inherit;
        text-decoration: none;
      }

      p {
        padding: 0 20px;
        font-size: 22px;
        line-height: 22px;
        margin: 0px;
      }
    }

    li:hover {
      background: $hoverBG;
      color: white;
    }

    li:first-child {
      border-top: 1px solid #878787;
    }
  }
}

.labelView {
  .labelHeader {
    background: $radialBG;
    border: 1px solid black;
    color: white;

    h1 {
      margin: 15px 0;
      font-size: 22px;
      line-height: 26px;
      padding: 0px;
    }

    p {
      font-family: 'modern_pictogramsnormal';
      padding: 0px;
      margin: 0px;
      font-size: 46px;
      line-height: 56px;
      text-align: right;
      cursor: pointer;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    color: white;
  }
}

.accountView {
  @extend .labelView;
  color: white;

  .accountInfo {
    margin-top: 30px;

    li {
      list-style: none;
      margin: 0px;
      padding: 20px 0px;

      .editErrors {
        color: red;

        li {
          padding-top: 10px;
          padding-bottom: 0px;
        }

        p {
          margin: 0px;
        }
      }

      p {
        margin-top: 15px;
      }

      input {
        border: none;
        border-bottom: 1px solid white;
        background: none;
        font-size: 20px;
        line-height: 25px;
      }

      .accountButton {
        text-align: right;

        button {
          border-radius: 8px;
          border: 0;
          padding: 5px 15px;
          cursor: pointer;
          background: $buttonBG;
          display: inline-block;
          margin-top: 3px;
        }
      }
    }
  }
}




/*********************/
/*** Media Queries ***/
/*********************/

@media screen and (max-width: 768px) {
  .mainTitle h1 {
    text-align: center;
  }

  .options, .optionsView {
    display: block;
  }

  #loginDisplay {
    display: none;
  }
}