<!-- <input type='text' data-ng-model='test' />
{{ test }}
<br/> -->
<!-- <div ng-controller='listController'>
  <ul>
    <li ng-repeat='item in items'>{{ item.title }}: {{ item.note }}</li>
  </ul>
</div> -->

<div ng-view>

</div>